.hidden {
    display: none;
}

.fullScreenImage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
}

.tabsHeaderContainer li {
    display: inline-block;
    cursor: pointer;
}

.tabsHeaderContainer {
    list-style: none;
    margin: 0;
    padding: 0;
}

#urlList {
    padding: 0;
}

#urlList td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    width: 90%;
}

/*
CSS for the main interaction
*/
.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset .tab-panel.active {
    display: block;
}

/*
 Styling
*/
body {
    font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
    color: #333;
    font-weight: 300;
}

.tabset .tabsHeader {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

.tabset a {
    color: #000;
    text-decoration: none;
}

.tabset .tabsHeader::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
}

.tabset .tabsHeader:hover,
.tabset .tabsHeader.active {
    color: #06c;
}

.tabset .tabsHeader:hover::after,
.tabset .tabsHeader.active::after {
    background: #06c;
}

.tabset .tabsHeader.active {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    padding: 30px;
}

.tabset {
    max-width: 65em;
}

.flat-table {
    display: block;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 115%;
    overflow: auto;
    width: auto;
    max-width: 100%;
    position: relative;

}

.flat-table th {
    background-color: rgb(112, 196, 105);
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
    overflow: auto;
}

.flat-table td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 20px 30px;
}

tbody {
    min-width: 100%;
}

#loadingAPP {
    display: none;
    text-align: center;
    padding: 100px;
}

#loadingAPP.fullscreenAppLoader {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index:100;
    width: 100%;
    height: 100%;
    background: #FFF;
}